.dialog {
    text-shadow: 2px 2px 5px black;
    border: 1px solid grey;
}

.dialogAva {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.dialogAva img {
    width: 30px;
}

.messages {
    padding: 10px;
}

.message {
    padding: 0;
}

.active {
    color: gold;
}