.userPhoto {
    width: 100px;
}
.listPages .button{
    
    width: 87px;
    
}
.listPages div{
    display: inline-flex;
    text-align: center;
    border: 1px solid grey;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background-color: blueviolet;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.listPages .selectedPage {
    font-weight: 900;
    background: chartreuse;
    box-shadow: crimson 0px 0px 2px 2px,crimson 0px 0px 2px 2px ;
}

.users{
    max-width: 300px;
}