.friendlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 25px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}