
.description{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;

}
.description div{
  margin-bottom: 5px;
  
}

.main img{
  
  width: 20vw;
  border-radius: 5%;
  
}
form .formSummaryError {
  border: 2px dashed red;
  color: red;
  padding: 5px;
}
div .contact{
  color: darkblue;
}


