.app-wrapper {
    display: grid;
    display: -ms-grid;
    grid-template-areas: "h h""n c";
    grid-template-rows: 60px 1fr;
    -ms-grid-rows: 60px 1fr;
    grid-template-columns: 3fr 8fr;
    -ms-grid-columns: 3fr 8fr;
}

.app-wrapper-content {
    grid-area: c;
    background-color: rgb(161, 170, 173);
    border-radius: 8px;
    margin: 2px;
}