@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
.fullView {
  width: 100px;
  height: 150px;
  display: block;
  margin: 2px;
  position: relative;
}

.fullView .online {
  position: absolute;
  left: 5%;
  top: 60%;
  width: 6px;
  height: 6px;
  background: chartreuse;
  border-radius: 50%;
  border: 2px solid white;
}

.fullView .offline {
  position: absolute;
  left: 5%;
  top: 60%;
  width: 6px;
  height: 6px;
  background: #595a59;
  border-radius: 50%;
  border: 2px solid white;
}

.fullView div {
  word-wrap: break-word;
  font-size: 12px;
  text-shadow: 0px 0px 0px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: inherit;
  cursor: pointer;
}

.fullView .friend {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.fullView .friend img {
  width: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.fullView .friend .butt {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
}
